<html>
   <body>     
      <form action = "http://localhost:5000/predict" method = "post">
         <h1>Prediksi Kanker Prostat</h1>
         <div>
            <label>radius</label>
            <span><input value="1" type = "number" step="0.001" name = "radius" /></span>
         </div>
         <div>
            <label>texture</label>
            <span><input value="1" type = "number" step="0.001" name = "texture" /></span>
         </div>
         <div>
            <label>perimeter</label>
            <span><input value="1" type = "number" step="0.001" name = "perimeter" /></span>
         </div>
         <div>
            <label>area</label>
            <span><input value="1" type = "number" step="0.001" name = "area" /></span>
         </div>
         <div>
            <label>smoothness</label>
            <span><input value="1" type = "number" step="0.001" name = "smoothness" /></span>
         </div>
         <div>
            <label>compactness</label>
            <span><input value="1" type = "number" step="0.001" name = "compactness" /></span>
         </div>
         <div>
            <label>symmetry</label>
            <span><input value="1" type = "number" step="0.001" name = "symmetry" /></span>
         </div>
         <div>
            <label>fractal dimension</label>
            <span><input value="1" type = "number" step="0.001" name = "fractal_dimension" /></span>
         </div>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>